<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TbServicesSoap" />
                <binding name="MicroareaLoginManagerSoap" />
                <binding name="EasyLookServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MagoNet/TBServices/TBServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="TbServicesSoap"
                contract="myTaskBuilderServices.TbServicesSoap" name="TbServicesSoap" />
            <endpoint address="http://localhost/MagoNet/LoginManager/LoginManager.asmx"
                binding="basicHttpBinding" bindingConfiguration="MicroareaLoginManagerSoap"
                contract="myLoginManager.MicroareaLoginManagerSoap" name="MicroareaLoginManagerSoap" />
            <endpoint address="http://localhost/magonet/EasyLook/easylookservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="EasyLookServiceSoap"
                contract="myEasyLook.EasyLookServiceSoap" name="EasyLookServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>